.o-container{
    width: 100%;
    padding: flex;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.b-title{
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    Font-family: ralaway;
    font-size: 24px;
    border-color: transparent;
}

.b-description{
    color: #ffffff;
    text-align: center;
    
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ralaway;
    font-size: 12px;
}

.b-btn{

border: 2px solid #333333;
color:#333333;
text-transform: uppercase;
padding: 8px;
margin: 16px;
min-width: 150px;
display: flex;
align-items: center;
Justify-content: center;
text-align: center;
transition: 0,25s all ease-in-out;

}

.b-btn:hover{
    color: #FFFFFF;
    background-color: #333333;
    text-decoration: none;

}
image{
    width: 100%;
}

.b-gallery_item{
    overflow
}