.o-container{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url();
}

.b-title{
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    font-family: monoton;
    font-size: 36px;
    border-color: transparent;
    letter-spacing: 3px;
}

.b-description{
    color: #ffffff;
    text-align: center;
    
}

.b-nav{
    text-align: center;
}


body{
    
    font-family: relaway;
    font-size: 12px;
}

.b-btn{

border: 2px solid #333333;
color:#333333;
text-transform: uppercase;
padding: 8px;
margin: 16px;
width: 200px;
display: inline-block;
text-align: center;
transition: 0.25s all ease-in-out;

}

.b-btn:hover{
    color: #FFFFFF;
    background-color: #333333;
    text-decoration: none;

}
image{
    width: 100%;
}

.b-gallery_item{
    overflow
}